<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {%block title%}Flask API web app - Default value for block template {%endblock%}
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
</head>

<body>
    <nav></nav>
    <p>this will always be here</p>

    {%block content%} Default value for block content {%endblock%}
</body>

</html>