{% extends "base.html"%} {%block title%}Index Page{%endblock%} {%block content%}

<h1>Flask API web app</h1>
<p>{{myvalue}}</p>
<p>{{myresult}}</p>
<p>{{mylist}}</p>
<ul>
    {% for item in mylist%} {%if item==30%}
    <li style="color: red;">{{item}}</li>
    {%else%}

    <li>{{item}}</li>
    {%endif%} {%endfor%}
</ul>
<img src="/img/logo.png" alt="Text" />
<span class="special">Hello</span>
<script src="/js/hello.js"></script>
<a href="#" class="btn btn-primary">Button Text</a>
<a href="#" class="btn btn-danger">Button Text</a>
<p>{{message}}</p>
<a href="{{url_for('set_data')}}">Set session data</a>
<a href="{{url_for('get_data')}}">Get session data</a>

<script src="/js/bootstrap.js"></script>
{%endblock%}